@use 'bootstrap/scss/bootstrap';

@page {
  size: landscape;
  margin: 5mm;
}

@media print {
  html,
  body {
    height: 100%;
    background: #fff !important;
    overflow: hidden;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body.bg-body-secondary,
  .bg-body-tertiary,
  .card {
    background-color: #fff !important;
  }
}
